{% extends 'index.html' %}


{% block additional_css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}"/>
{% endblock %}

{% block content %} 

<div class="floater" id="forms-container">
	<div class="well">
		<h3>Login!</h3>
		<form method="post" action="{% url 'trader.views.login' %}">
		{% csrf_token %}
		<input maxlength="254" name="username" type="text" placeholder="Username"/><br>
		<input name="password" type="password" placeholder="Password"/><br>
    	<input type="submit" value="Log in" />
		</form>

	</div>
	<div class="well">	
		<h3> Sign-Up! </h3>
		<form method="post" class ="home-signup">{% csrf_token %}
			{% for field in form %}
	
			<div id="errors"> {{ field.errors }}</div>
			<div> {{ field }} </div>
		
			{% endfor%}
    		<button class="btn btn-primary btn-block btn-large" type="submit">Sign up for free</button>
		</form>
	</div>
</div>

{% endblock%}

{% block additional_js %}
<script>

$("#id_username").attr('placeholder', 'Username');
$("#id_email").attr('placeholder', 'Email');
$("#id_password1").attr('placeholder', 'Password');
$("#id_password2").attr('placeholder', 'Password (Again)')

</script>

{% endblock %}