{% extends 'index.html' %}


{% block additional_css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}"/>
{% endblock %}

{% block content %} 
<div id="form-container" class="well">
<h3> Sign-Up! <h3>
<form method="post" class ="home-signup">{% csrf_token %}
	{% for field in form %}
	
		<div> {{ field.errors }}</div>
		<div> {{ field }} </div>
		
	{% endfor%}
    <button class="btn btn-primary btn-block btn-large" type="submit">Sign up for free</button>
</form>
</div>

{% endblock%}

{% block additional_js %}
<script>

$("#id_username").attr('placeholder', 'Username');
$("#id_email").attr('placeholder', 'Email');
$("#id_password1").attr('placeholder', 'Password');
$("#id_password2").attr('placeholder', 'Password (Again)')

</script>

{% endblock %}