{% extends 'swapster/base.html' %}



{% block content %}
<div class="row">
	<div class="col-3 profile">
		<div class='well'>
			<h2> {{ user.username }}</h2>
			<img class="profile-pic" src="{{ user.image_url }}"/>
			<h3> Description </h3>
			<p> {{ user.bio }}</p>
			{% block additional_profile %}
			<button class="btn btn-large btn-primary btn-block"> Trade </button>
			{% endblock %}
		</div>

	</div>
	<div class="col-9">
		<div class="row">
			<h1 class="store-header">{{ user.store_title }} </h1>
			{% block additional_store_header %}

			{% endblock %}
		</div>
		<hr>
		<div class="row">
			{% block profile_content %}
			<div class="list-group">
			{% for item in items %}
				<div class="media list-group-item">
					<a class="pull-left detail-trigger" name="{{ item|safe }}" owner="{{ item.owner.username }}">
					<img class="media-object object-icon-medium" src="{{ item.image.url }}"/>
					</a>
					<div class="media-body">
						<h4 class="media-heading">
						{{ item.name }}
						</h4>
						{{ item.summary }}
					</div>
				</div>
			{% endfor %}
			</div>
			{% endblock %}
		</div>
	</div>
</div>
	


{% endblock %}