{% extends 'swapster/base.html' %}

{% block additional_css2 %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/trade.css" %}"/>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-6">
		<div class="row">
			<div class="col-6 profile stripped">
				<div class='well stripped'>
					<div class="panel">
						<!--img class="object-icon-small pull-left" src="{{ user.image_url }}"/-->
						<h4 class="trade-header"> {{ user.username }}</h4>
					</div>
					{% for item in items %}
					<a class="draggable" name="{{ item|safe }}" owner="{{ item.owner.username }}">
						<img class="thumbnail object-icon-large stripped" src="{{ item.image.url }}"/>
					</a>
					{% endfor %}
				</div>
				<div>

				</div>	
			</div>
			<div class="col-6 stripped profile full">
				<div class='well stripped'>
					<div class="panel">
						<!--img class="object-icon-small pull-left" src="{{ user.image_url }}"/-->
						<h4 class="trade-header"> Objects Out</h4>
					</div>
					<div class="box thumbnail stripped">
						<div class="snap"></div>
					</div>
					<div class="box thumbnail stripped">
					</div>
					<div class="box thumbnail stripped">
					</div>
					<div class="box thumbnail stripped">
					</div>
					<div class="box thumbnail stripped">
					</div>
					<div class="box thumbnail stripped">
					</div>
					<div class="box thumbnail stripped">
					</div>
					<div class="box thumbnail stripped">
					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="row">
			<div class="col-6">
			
			</div>
			<div class="col-6 profile pull-right">
				<div class='well'>
					<h2> {{ other_user.username }}</h2>
					<img class="profile-pic" src="{{ other_user.image_url }}"/>
					<h3> Description </h3>
					<p> {{ other_user.bio }}</p>
				</div>	
			</div>
			</div>
		</div>
	</div>

</div>

{% block additional_js2 %}
	<script src="{% static 'js/trade.js' %}"></script>
{% endblock %}


{% endblock %}