.affix{
	width: 100%;
	top: 0px;
	z-index: 100;

}

.navbar {
	border-top: solid;
	border-top-color: #19637C;
	border-top-width: 1px;
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #33CCFF;
	z-index: 100;
}

.stripped {
	padding: 0px;
	margin: 0px;
}

.nav-container {
	height: 51px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.object-icon-medium {
	width: 64px;
	height: 64px;
}

.object-icon {
	width: 50px;
	height: 50px;
}

.object-icon-large {
	width: 128px;
	height: 128px;
	display: inline-block;
}


#username {
	margin-right: 40px;
}

.object-icon-small {
	width: 32px;
	height: 32px;
}