.affix{
	width: 100%;
	top: 0px;
	z-index: 100;
	margin-left: 0px;
	margin-right: 0px;
}

.navbar {
	border-top: solid;
	border-top-color: #19637C;
	border-top-width: 1px;
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #33CCFF;
	z-index: 100;
}

.object-icon-medium {
	width: 64px;
	height: 64px;
}

#username {
	margin-right: 40px;
}

.object-icon-small {
	width: 32px;
	height: 32px;
}