.col-6 > .well {
	margin-top: 0px;
	padding-top: 0px;
}

hr {
	border-top-color: rgb(185, 185, 185);
}

.object-icon-medium, h4, h5, h3 {
	display: inline-block;
}

.panel {
	padding-bottom: 0px;
}

.panel-heading {
	margin-bottom: 0px;
}

.object-label {
	margin-left: 10px;
}

a#accept {
	margin-top: -4px;
	display: inline;
}