button#add-object {
	margin-left: 20px;
	margin-bottom: 15px;
}

hr {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: -15px;
}

.profile {
	text-align: center;
	padding-left: 0px;
	width: auto;
}

.profile-pic {
	min-height: 200px;
	min-width: 200px;
	max-height: 300px;
	max-width: 300px;
	height: auto;
	width: auto;
	border: solid;
	border-width: 1px;
}

.row > .store-header {
	display: inline-block;
}