.border {
	border: solid;
	border-width: 1px;
}

.stripped {
	padding: 0px;
	margin: 0px;
}

.trade-header {
	display: inline;
}
h4.trade-header {
	display: inline;
}

.draggable1,.draggable2 {
	cursor: pointer;
	z-index: 5;
}


.full {
	height: 100%;

}

.snap1, .snap2 {
	width: 128px;
	height: 128px;
	display: inline-block;
}

.box {
	height: 132px;
	width: 132px;
	border: solid;
	border-width: 1px;
	display: inline-block;
	padding: 2px;


}