.border {
	border: solid;
	border-width: 1px;
}

.stripped {
	padding: 0px;
	margin: 0px;
}

.trade-header {
	display: inline;
}
h4.trade-header {
	display: inline;
}

.draggable {
	cursor: pointer;
	z-index: 100;
}


.full {
	height: 100%;

}

.box {
	height: 128px;
	width: 128px;
	border: solid;
	border-width: 1px;

}