{% extends 'skeleton.html' %}


{% block body %}
{% load static %}


{% block header %}
	<div id="landing-header" class="row-fluid">
		<h1>Swapster | Where Trading Happens</h1>
	</div>
{% endblock %}
{% if messages %}
	<div class="messages floater">
    	{% for message in messages %}
    	<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
    	<button type="button" class="close" data-dismiss="alert">&times;</button>

    	{{ message }}

    	</div>

    	{% endfor %}
	</div>
{% endif %}
{% block content %}

	


{% endblock %}
<img src="{% static "images/background.jpg" %}">



{% block footer %}



{% endblock %}
<footer>
	<div id="footer" class="row-fluid">
		<div class="footer-links">
			<a href="#">About US</a> |
			<a href="#">Contact US</a> |
			<a href="#">FAQ</a> |
		<div>
	</div>
</footer>
	
{% endblock %}