{% extends 'skeleton.html' %}


{% block body %}
{% load static %}


{% block header %}
	<a href="{% url 'index' %}" class="plain">
		<div id="landing-header" class="row">
			<h1>Swapster | Where Trading Happens</h1>
		</div>
	</a>
{% endblock %}
{% block additional_header %}
{% if user.is_authenticated %}
<div class="row nav-container">
<div class="navbar affix">
	<!--a class="navbar-brand" href="#">Swapster</a-->
	<ul class="nav navbar-nav">
		<li><a href="{% url 'user_profile' %}">Home</a></li>
		<li><a href="{% url 'traders' %}">Traders</a></li>
		<li><a href="{% url 'objects' %}">Objects</a></li>
		<li><a href="{% url 'offers' %}">Offers <span class="badge">{{ user.request_count }}</span></a></li>
	</ul>
	<p id="username" class="navbar-text pull-right"><a href="{% url 'logout' %}" class="navbar-link">Logout</a></p></li>
</div>
</div>
{% endif %}
{% endblock %}
{% if messages %}
	<div class="messages floater">
    	{% for message in messages %}
    	<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	{{ message }}
    	</div>
    	{% endfor %}
	</div>
{% endif %}
{% block common_content %}

{% endblock %}
<div id="content">
{% block content %}

<div class="jumbotron floater">
  <h1>Welcome to Swapster! Where Trading Happens! </h1>
  <p> We make it easy and fun for you to trade with your friends online. </p>
  <p><a href="/accounts/register" class="btn btn-primary btn-large">Sign Up!</a>
  <a href="/accounts/register" class="btn btn-success btn-large">Login!</a></p>
</div>


{% endblock %}
{% block background %}
<div class="row">
	<img class="img-responsive" src="{% static "images/background.jpg" %}">
</div>
{% endblock %}
</div>



{% block footer %}



{% endblock %}
<footer>
	<div id="footer" class="row">
		<div class="footer-links">
			<a href="{% url 'about_us' %}">About US</a> |
			<a href="{% url 'contact_us' %}">Contact US</a> |
			<a href="{% url 'faq' %}">FAQ</a> |
		<div>
	</div>
</footer>
	
{% endblock %}