{% extends 'registration/base_registration.html' %}


{% block info %}
<h2> About Us</h2>

<p>
	We are a bartering website whose primary focus is to provide a simple platform for our users to swap their items. If you have stuff lying around and taking up space that you no longer need, list it on Swapster and get new items you want or may need for free! You can browse through all the objects listed on our database and, when you find something you like, you can make an offer. The other user will be able to accept, reject, or make a counteroffer to your proposed swap. Swapster aims to have a flow of merchandise while also adding a social aspect to the otherwise impervious bargaining system. 
</p>


{% endblock %}