{% extends 'index.html' %}

{% block additional_css %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/>
	{% block additional_css2 %}

	{% endblock %}
{% endblock %}

{% block additional_header %}
<div class="row nav-container">
<div class="navbar affix">
	<!--a class="navbar-brand" href="#">Swapster</a-->
	<ul class="nav navbar-nav">
		<li><a href="{% url 'user_profile' %}">Home</a></li>
		<li><a href="{% url 'traders' %}">Traders</a></li>
		<li><a href="{% url 'objects' %}">Objects</a></li>
		<li><a href="{% url 'offers' %}">Offers <span class="badge">{{ user.request_count }}</span></a></li>
	</ul>
	<p id="username" class="navbar-text pull-right"><a href="{% url 'logout' %}" class="navbar-link">Logout</a></p></li>
</div>
</div>
{% endblock %}
{% block common_content %}
  <div class="modal fade" id="detail-view">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img id="owner_thumb" src="" class="img-thumbnail object-icon-medium pull-left" alt="owner_thumb" />
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 class="modal-title">Modal title</h1>
        </div>
        <div class="modal-body">
        	<p id="object-summary" class="lead"> </p>
        	<img id="picture-full" class="img-rounded" src="">
        	<h3> Description </h3>
        	<p id="object-description"> </p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <a href="{% url 'trade' user.username %}" class="btn btn-primary">I want it!</a>
        </div>
      </div>
    </div>
  </div>
{% block additional_modal %}

{% endblock %}
{% endblock %}
{% block background %}

{% endblock %}



{% block additional_js %}
	<script src="{% static 'js/base.js' %}"></script>
	<script src="{% static 'js/object_detail.js' %}"></script>
	<script src="{% static 'js/jquery-ui-1.10.3.js' %}"></script>
	{% block additional_js2 %}

	{% endblock %}
{% endblock %}