{% extends 'registration/base_registration.html' %}


{% block info %}
<h1> FAQ </h1>

<h3> Can I use money? </h3>
<p> We do not have an official transaction system but if you are desperate you can list money as an 'object' and trade it for other things you see on the site!</p>

<h3> How do I Edit/Delete My Items? </h3>
<p>
	To delete an item go to your home page and click the delete button! We do not allow you to edit your objects after creation because that would enable you to scam people!
</p>	

<h3> How do I Make Offers? </h3>
<p> To make an offer you must enter 'trade-mode' where you have to  drag the objects you want to exchange to a central grid. After you've done that click 'Make Offer'! </p>

<h3> How do I Trade? </h3>
<p> To actually carry out a trade you must go accept an offer or have someone accept your offer!</p>


<h3> How do I Find/Edit My Offers? </h3>
<p> Go to the offers page. </p>



{% endblock %}